@model CapaModelo.Compra
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Documento</title>
    @Styles.Render("~/Content/PluginsCSS")
    <link href="~/Resources/Gradients.css" type="text/css" rel="stylesheet" />
    <style type="text/css">
        .btn:not(:disabled):not(.disabled) {
            cursor: pointer;
        }

        * {
            font-family: 'MesloLGL Nerd Font';
            font-size: 12px;
        }

        .btn-secondary {
            color: #fff;
            background-color: #6c757d;
            border-color: #6c757d;
        }

        .btn {
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
    </style>
</head>
<body>
    <div style="font-size: 11px; text-align: right;">
        <center>
            <button type="button" id="Imprimir" class="btn btn-secondary" onclick="javascript:imprSelec('seleccion')"><i class="fas fa-print"></i> Imprimir</button>
        </center>
        <br>
    </div>
    <div id="seleccion">
        <center>
            <table style="width: 650px; border: 2px solid #e2e2e2; padding: 10px;">
                <tr>
                    <td>
                        <table id="cabezera">
                            <tr>
                                <td style="width:140px">
                                    <img src="@Url.Content("~/Resources/images/Logo_Farmacia.png")" alt="" height="70">
                                </td>
                                <td style="width:340px">
                                    <table style="width:100%">
                                        <tr><td><label style="font-size:16px;font-weight:bold;text-align:center;width:100%;display:block">Farmacia Saori</label></td></tr>
                                        <tr><td colspan="4" align="center">Agente: <span>@Html.DisplayTextFor(model => model.oUsuario.Nombres) @Html.DisplayTextFor(model => model.oUsuario.Apellidos)</span></td> </tr>
                                    </table>
                                </td>
                                <td style="width:150px;">
                                    <table style="width: 100%; height: 100px; font-weight: bold;">
                                        <tbody>
                                            <tr style="-webkit-print-color-adjust: exact;"><td align="center">COMPRA</td></tr>
                                            <tr><td align="center">NRO - <span>@Html.DisplayTextFor(model => model.Codigo)</span> </td></tr>
                                            <tr><td align="center">Fecha - <span>@Html.DisplayTextFor(model => model.FechaRegistro)</span> </td></tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr style="height: 20px;"><td><br></td></tr>
                <tr>
                    <td>
                        <table style="width: 100%;">
                            <tbody>
                                <tr style="-webkit-print-color-adjust: exact;">
                                    <td colspan="4">
                                        <span>Proveedor</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="15">Ruc:</td>
                                    <td style="text-align:start;"><span>@Html.DisplayTextFor(model => model.oProveedor.Ruc)</span></td>
                                    <td width="100">Razon Social:</td>
                                    <td style="text-align:start;"><span>@Html.DisplayTextFor(model => model.oProveedor.RazonSocial)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                @*<tr><td><hr /></td></tr>
                <tr>
                    <td>
                        <table style="width: 100%;">
                            <tbody>
                                <tr style="-webkit-print-color-adjust: exact;">
                                    <td colspan="4">
                                        <span>Producto</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="130">Nombre Comercial:</td>
                                    <td style="text-align:start;"><span>@Html.DisplayTextFor(model => model.oDetalleFarmaco.NombreComercial)</span></td>
                                    <td width="80">Concentracion:</td>
                                    <td style="text-align:start;"><span id="nombretienda">@Html.DisplayTextFor(model => model.oDetalleFarmaco.Concentracion)</span></td> 
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>*@
                <tr><td><hr /></td></tr>
                <tr style="-webkit-print-color-adjust: exact;">
                    <td style="padding:4px">
                        <span>Productos</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table id="tbCompras" style="width:100%;">
                            <thead>
                                <tr style="-webkit-print-color-adjust: exact;" class="items_Cantidad">
                                    <th style="width: 15%;border-radius: 15px 0 0 15px;margin:1px;">Cantidad</th>
                                    <th style="width: 50%;margin:1px;">Concepto</th>
                                    <th style="width: 20%;margin: 1px;">P.Unit Compra</th>
                                    <th style="width: 20%; border-radius: 0 15px 15px 0;">Importe</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.oListaDetalleCompra)
                                {

                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                                    <td>@Html.DisplayFor(modelItem => item.oProducto.NombreGenerico)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PrecioCompra)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TotalCosto)</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="font-weight: bold; width:100%; margin-top:30px;">
                            <tr>
                                <td colspan="4">
                                    <table width='330'>
                                        <tr>
                                            <td style="-webkit-print-color-adjust: exact; padding: 3px;">Telefono</td>
                                            <td style="padding: 3px;"><span>+505 81707927</span></td>
                                        </tr>
                                        <tr>
                                            <td style="-webkit-print-color-adjust: exact; padding: 3px;">Ubicacion</td>
                                            <td style="padding: 3px;"><span>San Juan, La Concepcion</span></td>
                                        </tr>
                                        <tr>
                                            <td style="-webkit-print-color-adjust: exact; padding: 3px;">Atendido Por:</td>
                                            <td style="padding: 3px;"><span>@Html.DisplayTextFor(model => model.oUsuario.Nombres) @Html.DisplayTextFor(model => model.oUsuario.Apellidos)</span></td>
                                        </tr>
                                    </table>
                                </td>
                                <td colspan="2" align="right">
                                    <table style="font-weight: bold; width: 160px;">
                                        <tr>
                                            <td style="text-align: right;">Total C$</td>
                                            <td style="padding: 3px; -webkit-print-color-adjust: exact;"><span id="totalcosto">@Html.DisplayTextFor(model => model.TotalCosto)</span></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </div>
    @Scripts.Render("~/Content/PluginsJS")
    <script>

        function imprSelec(nombre) {
            var printContents = document.getElementById(nombre).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }

    </script>

</body>
</html>
